@model CourseApp.Models.Subject

@{
    ViewBag.Title = "Delete";
}

<head>
    <style>
        .dl-horizontal dt {
            float: left;
            width: 150px;
            clear: left;
            font-weight: bold;
        }

        .dl-horizontal dd {
            margin-left: 160px;
            margin-bottom: 10px;
        }
    </style>
</head>

<body class="body">

    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Subject</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.SubjectId)
            </dt>

            <dd>
             :   @Html.DisplayFor(model => model.SubjectId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
             :   @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TotalClasses)
            </dt>

            <dd>
             :   @Html.DisplayFor(model => model.TotalClasses)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Credits)
            </dt>

            <dd>
             :   @Html.DisplayFor(model => model.Credits)
            </dd>

        </dl>

        @using (Html.BeginForm("Delete", "Subject", FormMethod.Post, new { id = "deleteForm" }))
        {
            @Html.HiddenFor(model => model.SubjectId)
            @Html.AntiForgeryToken()

            <div class="form-actions">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        }
    </div>
    <script>
        $(document).ready(function () {
            $('#deleteForm').on('submit', function (event) {
                event.preventDefault(); 
      
                $.ajax({
                    type: 'POST',
                    url: '/Subject/Delete/' + $('#subjectId').val(),
                    data: $(this).serialize(),
                    success: function (response) {
                        if (response.success) {
                            toastr.success(response.message);
                            setTimeout(function () {
                                window.location.href = '/Subject/Index';
                            }, 1000)
                        }
                        else {
                            toastr.error(response.message);
                        }
                            
                    },
                    error: function (jqXHR) {
                        errorMessage = jqXHR.responseText;
                        toastr.error(errorMessage);
                    }
                });
            });
        });
    </script>
</body>
