@model CourseApp.Models.Subject

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<body class="body">
    <style>
        .dl-horizontal dt {
            float: left;
            width: 150px;
            clear: left;
            font-weight: bold;
        }

        .dl-horizontal dd {
            margin-left: 160px;
            margin-bottom: 10px;
        }
    </style>
    <div>
        <h4>Subject</h4>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.SubjectId)
            </dt>

            <dd>
                :   @Html.DisplayFor(model => model.SubjectId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                :   @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TotalClasses)
            </dt>

            <dd>
                :   @Html.DisplayFor(model => model.TotalClasses)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Credits)
            </dt>

            <dd>
                :   @Html.DisplayFor(model => model.Credits)
            </dd>

        </dl>
    </div>
</body>