@model CourseApp.Models.User

@{
    ViewBag.Title = "Edit";
}
<head>
    <script src='@Url.Content("~/Scripts/userValidation.js")' type='text/javascript'></script>
</head>
<body>
   
                @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "form-horizontal",@id = "roleform"}))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Email)

                    <div class="form-horizontal" style="margin-left:15px">

                        <hr />
                        <div class="form-group">
                            @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.UserId, new { @class = "form-control", @readOnly = "readonly", @id = "userid" })
                            </div>
                            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @id = "username" })
                                <span class="error text-danger" id="userNameError"></span>
                            </div>
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @id = "email" })
                                <span class="error text-danger" id="emailError"></span>
                            </div>

                            @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Role, new SelectList(new List<SelectListItem>
                            {
                                new SelectListItem { Text = "Admin", Value = "Admin" },
                                new SelectListItem { Text = "Student", Value = "Student" }
                            }, "Value", "Text"), "Select Role", new { @class = "form-control", @id = "role" })
                            <span class="error text-danger" id="roleError"></span>
                        </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                        </div>
                }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>