@model IEnumerable<CourseApp.Models.User>

@{
    ViewBag.Title = "Index";
}
<html>
<head>
    <script type="text/javascript">
        var js = jQuery.noConflict();
        js(document).ready(function () {
            new DataTable('#myTable');

            js('#myTable').on('click', 'a.details-link, a.Edit-link,a.delete-link', function (e) {
                e.preventDefault();

                var url = js(this).attr('href');

                js.ajax({
                    url: url,
                    type: 'GET',
                    success: function (result) {
                        js('#detailsModal .modal-body').html(result);
                        js('#detailsModal').modal('show');
                    },
                    error: function () {
                        alert('Error loading details');
                    }
                });
            });
        });
    </script>

</head>

<body>
    <h2>Index</h2>

    <table id="myTable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", new { userId = item.UserId })" class="Edit-link" title="Edit">
                            <i class="fa-regular fa-pen-to-square" style="color:black"></i>
                        </a>
                        <a href="@Url.Action("Details", new {  userId = item.UserId})" class="details-link" title="Details">
                            <i class="fa-regular fa-eye" style="color:blue"></i>
                        </a>
                        <a href="@Url.Action("Delete", new {  userId = item.UserId })" class="delete-link" title="Delete">
                            <i class="fa-regular fa-trash-can" style="color:red"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
</body>
</html>