@model CourseApp.Models.User

@{
    ViewBag.Title = "Register";
}
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src='@Url.Content("~/Scripts/validation.js")' type='text/javascript'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

</head>


<body>
    <h2>Register</h2>
    @{
        if (ViewData.ModelState.Count > 0)
        {
        <div class="alert alert-danger">
            @Html.ValidationSummary()
            toastr.error("An Error Occurred While Registering");
        </div>
        }
    }
    @using (Html.BeginForm("Register", "User", FormMethod.Post, new { @id = "RegisterForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(model => model.UserName)
            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @id = "username" })
            <span class="error text-danger" id="userNameError"></span>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @id = "email" })
            <span class="error text-danger" id="emailError"></span>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password)
            @Html.PasswordFor(model => model.Password, new { @class = "form-control", @id = "password" })
            <span class="error text-danger" id="passwordError"></span>
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" />
            <span class="error text-danger" id="confirmPasswordError"></span>
        </div>
        <input type="submit" value="Register" class="btn btn-primary" />
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }



</body>
</html>

