@model CourseApp.Models.CollectDates

@{
    ViewBag.Title = "CollectDates";
}

<head>
    <script src='@Url.Content("~/Scripts/studentValidation.js")' type='text/javascript'></script>
</head>

@using (Html.BeginForm("CollectDates", "Student", FormMethod.Post, new { @id = "DateFilterForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Sdate", "From", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sdate, new { htmlAttributes = new { @class = "form-control", type = "date", @id = "fromDate" } })
                <span class="error text-danger" id="fromDateError"></span>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Edate", "To", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Edate, new { htmlAttributes = new { @class = "form-control", type = "date", @id = "toDate" } })
                <span class="error text-danger" id="toDateError"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Get Students" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
   
}
