@model IEnumerable<CourseApp.Models.Student>

@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript">
        var js = jQuery.noConflict();
        js(document).ready(function () {
            new DataTable('#myTable');
         
            js('#myTable, #mydates').on('click', 'a.details-link, a.Edit-link,a.delete-link,a.CollectDates-link', function (e) {
                e.preventDefault();

                var url = js(this).attr('href');

                js.ajax({
                    url: url,
                    type: 'GET',
                    success: function (result) {
                        js('#detailsModal .modal-body').html(result);
                        js('#detailsModal').modal('show');
                    },
                    error: function () {
                        alert('Error loading details');
                    }
                });
            });
        });
    </script>
   
</head>

<body class="body">
    <center><h2>STUDENTS</h2></center>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>
                    @Html.ActionLink("Add Student", "Create", new { }, new { @class = "btn btn-primary" })
                </p>
            </div>
            <div class="col-md-6 text-right">
                <div class="d-inline-block mr-2">
                    <p class="mb-0" id="mydates">
                        <a href="@Url.Action("CollectDates")" class="CollectDates-link btn btn-primary">
                            <i class="fa-solid fa-filter"></i> Date Filters
                        </a>
                    </p>
                </div>
                <div class="d-inline-block">
                    <p class="mb-0">
                        @Html.ActionLink("View All", "Index", new { }, new { @class = "btn btn-primary", @id= "show" })
                    </p>
                </div>
            </div>
        </div>
    </div>

    <table id="myTable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RollNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DOB)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="index">

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RollNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DOB.ToString().Split(' ')[0])
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", new { rollNo = item.RollNo })" class="Edit-link" title="Edit">
                            <i class="fa-regular fa-pen-to-square" style="color:black"></i>
                        </a>
                        <a href="@Url.Action("Details", new { rollNo = item.RollNo })" class="details-link" title="Details">
                            <i class="fa-regular fa-eye" style="color:blue"></i>
                        </a>
                        <a href="@Url.Action("Delete", new { rollNo = item.RollNo })" class="delete-link" title="Delete">
                            <i class="fa-regular fa-trash-can"  style="color:red"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
</body>
</html>